Source: ros-jade-tornado
Section: misc
Priority: extra
Maintainer: AlexV <asmodehn@gmail.com>
Build-Depends: debhelper (>= 9.0.0), python-concurrent.futures, python-mock, python-singledispatch, ros-jade-backports-ssl-match-hostname, ros-jade-catkin (>= 0.6.18), ros-jade-catkin-pip (>= 0.1.15), ros-jade-certifi
Homepage: 
Standards-Version: 3.9.2

Package: ros-jade-tornado
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-concurrent.futures, python-singledispatch, ros-jade-backports-ssl-match-hostname, ros-jade-certifi
Conflicts: ros-jade-rosbridge-server (<= 0.7.17)
Description: Tornado is a Python web framework and asynchronous networking library, originally developed at FriendFeed.
 http://www.tornadoweb.org/
